.filter {
    display: inline-flex;
    height: 862px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    margin-right: 23px;
}

.filter-label {
    color: var(--text-primary, #1B1F23);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 20px;
}

.input-item,
.select-genre-item,
.select-cinema-item {
    display: flex;
    flex-direction: column;
}

.input-name,
.genre-name,
.cinema-name {
    color: var(--text-primary, #1B1F23);
    /* Body/S */
    font-size: 14px;
    font-family: SF Pro Text;
    line-height: 20px;
    margin-bottom: 14px;
}

.input {
    display: flex;
    padding: 10px 16px;
    width: 360px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--border-default, #E1E3E6);
    background: var(--background-primary, #FFF);
}

.select-genre,
.select-cinema {
    display: flex;
    height: 40px;
    width: 360px;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--border-default, #E1E3E6);
    background: var(--background-primary, #FFF);
}