/* header.css */

.header {
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  max-width: 1920px;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-1, #333);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header_title {
  color: #FFF;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 700;
}

#svg {
  display: flex;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 1);
}

.header_icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}