.ticket-count {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.minus,
.plus {
    cursor: pointer;
}

.count {
    color: var(--text-primary, #1B1F23);
    font-size: 20px;
    font-family: SF Pro Text;
    font-weight: 600;
    line-height: 20px;
}